.login-btn {
    margin-top: 5%;
}
.first-row {
    margin-top: 5%;
}
.spinner-row {

}
.myspinner {
    font-size: 50pt !important;
    color: green !important;
}

.spinner-hide {
    display: none !important;
}
.form-control {
    width: 50%!important;
    margin-left: 1%;
    border-radius: 5px !important;
}
.mybtn{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    margin-right: 0px !important;
}
.remove {
    vertical-align: bottom;
    cursor: pointer;
    opacity: 0.5;
}
.remove:hover{
    opacity: 1;
}

.hidden-div {
    display: none;
}

.make-btn{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    margin-top: -1% !important;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}